<!-- <mat-sidenav-container>
  <mat-sidenav opened="True" disableClose= "True" mode="side">
      <img width="180" alt="Angular Logo" style="border-radius: 50%; border-color: black" src="http://127.0.0.1:8081/img_avatar.png">
    <br><br><br>
    <div style="text-align:center">
    <h2>{{name}}</h2>
    <h3 style="color: primary"><a href="xyz">Home</a></h3>
    <h3><a routerLink="/about" routerLinkActive="active">About</a></h3>
    <h3><a href="skills">Skills</a></h3>
    <h3><a href="projects">Projects</a></h3>
    <h3><a href="contact">Contact</a></h3>
  </div>
  </mat-sidenav>
<mat-sidenav-content style="background-color: aliceblue !important">
<router-outlet></router-outlet> 
</mat-sidenav-content>
</mat-sidenav-container>
 -->

<html>
<title>Portfolio</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family: "Open Sans"}
</style>
<!-- <body class="w3-light-grey"> -->
<div class="w3-bar w3-black">
  <!-- <a href="contact" class="w3-bar-item w3-button w3-right"><i class="fa fa-envelope"></i></a> -->
  <a href="https://www.linkedin.com/in/akshita-kukreja-0a170813b" class="w3-bar-item w3-button w3-right"><i class="fa fa-linkedin"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-right">Experience</a>
  <a href="projects" class="w3-bar-item w3-button w3-right">Projects</a>
  <a href="skills" class="w3-bar-item w3-button w3-right">Skills</a>
  <a href="" class="w3-bar-item w3-button w3-right">Home</a>
</div>
<router-outlet></router-outlet>



